body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    border-radius: 3px;
}

input[type=color]{
    border-radius: 100%;
}

input[type=submit]{
    border-radius: 100%;
    color: black;
    font-style: bold;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}

.grey{
    background-color: gray;
}
